# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml

# IntelliJ
out/

# tests
testing/
tests/

*.class
*.out
assign1TestScript.py
facebook_combined.txt
jopt-simple-5.0.2.jar
sample.jar
test3LoadedGraph.txt